@tailwind base;
@tailwind components;
@tailwind utilities;

/** SET GLOBAL OPTIONS */
html {
  user-select: none;
}
input:focus {
  outline: none;
}

/** color themes */
.primary-bg {
  @apply bg-[#E84C43] dark:bg-[#FFF0F0];
}
.primary-fill {
  @apply fill-[#E84C43] dark:fill-[#FFF0F0];
}
.primary-text {
  @apply text-[#F1F1F1] dark:text-[#E84C43];
}
.primary-border {
  @apply border-[#F5D1D1] dark:border-[#FF9898];
}

.surface-bg {
  @apply bg-[#F2F2F2] dark:bg-[#302D31];
}
.surface-fill {
  @apply fill-[#F2F2F2] dark:fill-[#302D31];
}
.surface-text {
  @apply text-[#222222] dark:text-[#F1F1F1];
}
.surface-primary {
  @apply text-[#E84C43];
}
.surface-border {
  @apply border-[#EEEEEE] dark:border-[#777378];
}
.surface-input {
  @apply focus:outline-0 hover:bg-gray-100 focus:bg-gray-200 dark:hover:bg-gray-700 dark:focus:bg-gray-600;
}

.contrast-bg {
  @apply bg-[#FFFFFF] dark:bg-[#19191A];
}
.contrast-text {
  @apply fill-[#222222] dark:fill-[#F1F1F1];
}
